"The support champion with the best winrate with Aphelios is ('Alistar', 'Blitzcrank') with a winrate of 100.00%"

### Requirements

Check that you have pandas installed, if not open your shell and run the command: `pip3 install pandas`\
Make sure you have the `matches2020.csv` file to start the workshop.

In this workshop you will analyze a csv file.\
I strongly advise you not to use any loop (for, while ... ect)\
Indeed this workshop is made to be successful without the use of any loop,\
Read the documentation, search on the web, and come to the supervisors if you get stuck on a part for too long.

In [4]:
!ls

1.league_of_legends_analysis.ipynb	datasets      image
2.video_games_data_visualisation.ipynb	datasets.zip  README.md

### Import

To start, it is necessary to import `pandas`, we give it the alias `pd` to be able to use its methods more easily.\
If you don't know what a method is I advise you to start with the workshop : `python basics`

In [8]:
!pip3 install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/tokyovania/.local/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/tokyovania/.local/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/tokyovania/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/tokyovania/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Read & Verify

Here we are at our first task, the difficulty will increase gradually.


For now pandas needs to read the csv to be able to use it.\
You have to read the file : `matches2020.csv`\
Since it is the first task, here is the link of the function : [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)\
For the next steps, I will let you search in the documentation: [documentation](https://pandas.pydata.org/docs/index.html)

In [10]:
#read the file : matches2020.csv with the function read_csv

data = pd.read_csv("datasets/matches2020.csv")

Congratulations, you have successfully completed the first task,


The second task is to display the dataframe using the [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) method.\
head will by default display the first 5 lines if you don't set any parameters.

In [86]:
# Use the head method
data.head()

,Unnamed: 0,gameid,league,blueteam,redteam,bluetop,bluejungle,bluemid,blueadc,bluesupport,redtop,redjungle,redmid,redadc,redsupport,result
0,0,ESPORTSTMNT03/1241318,KeSPA,SANDBOX Gaming,T1,Rumble,Elise,Qiyana,MissFortune,Nautilus,Aatrox,Gragas,Mordekaiser,Xayah,Rakan,1
1,1,ESPORTSTMNT03/1241322,KeSPA,T1,SANDBOX Gaming,Jayce,JarvanIV,Orianna,MissFortune,Nautilus,Aatrox,Elise,Qiyana,Varus,TahmKench,0
2,2,ESPORTSTMNT03/1241324,KeSPA,T1,SANDBOX Gaming,Renekton,RekSai,Mordekaiser,Xayah,Rakan,Aatrox,Sejuani,Azir,MissFortune,Nautilus,1
3,3,ESPORTSTMNT03/1241328,KeSPA,T1,SANDBOX Gaming,Pantheon,Elise,Nautilus,Xayah,Rakan,Quinn,Olaf,Orianna,MissFortune,Leona,0
4,4,ESPORTSTMNT03/1241386,KeSPA,DRX,Afreeca Freecs,Mordekaiser,JarvanIV,Ryze,Xayah,Rakan,Renekton,Elise,Velkoz,Varus,Braum,0

**Expected output:** \
<img src="./image/head_result.png"/>

### Dataset length

We can observe that indeed our dataset contains information about competitive league of legends games in 2020.\
I will describe the different columns :
- the **id** of the game,
- the **league**, in league of legends the competition is divided in different regional leagues,\
especially the LFL which is the french league and the LEC which is the european league.
- the **name** of the blue team,
- the **name** of the red team,
- in a game of league of legends there are 5 different roles, \
the **top**, the **mid**, the **jungle**, the **adc** and the **support**, to each role corresponds its champion pool.
- the result, equal to 1 if the blue team wins otherwise equal to 0

You have to return the total number of games of the dataset.

In [16]:
# Define a function to return the number of games
def number_of_games(df):
    return len(df)

In [17]:
number_of_games(data)

5612

**Expected output :** `5612`

The LFL is the French league, teams like Vitality or LDLC play there. \
you will need to return the number of competitive games in the LFL in 2020.

Try to create a variable that retrieves only the games where the League column is equal to `LFL`,\
then apply the same method as before.

In [21]:
def number_of_games_lfl(df):
    # Filter the DataFrame to include only LFL games
    lfl_df = df[df['league'] == 'LFL']
    # Return the number of games in LFL
    return len(lfl_df)

In [22]:
number_of_games_lfl(data)

129

**Expected output :** `129`

### Winrate

Bravo, you managed to get the parts of LFL and to count them

Let's go to the next level, \
In league of legends, the map has a blue side and a red side,\
the goal of the red team is to destroy the base on the blue side while the blue team must destroy the base on the red side.\
There is a rumor that being on the blue side gives an advantage to the team, check this rumor.

try to calculate the winrate of a team when it is on the `red` side.\
Don't forget that when the red team loses, the `result` is 1 and when it wins, the `result` is 0.

In [29]:
def redside_winrate(df):
    # Filter the DataFrame to include only games where the red team has won (result == 1)
    red_wins_df = df[df['result'] == 0]
    # Calculate the winrate as the proportion of games where the red team has won
    winrate = len(red_wins_df) / len(df)
    return winrate

In [30]:
redside_winrate(data)

0.4718460441910192

**Expected output :** `0.4718460441910192`

### List without duplicates

Well done.\
But one question is on my mind.\
Which teams are in the French League of Legends (LFL)?\
List the LFL teams without duplicates

In [35]:
def list_equip_lfl(df):
    # Filter the DataFrame to include only LFL games
    lfl_df = df[df['league'] == 'LFL']
    
    # Extract unique team names from both blue_team and red_team columns
    unique_blue_teams = lfl_df['blueteam'].unique()
    unique_red_teams = lfl_df['redteam'].unique()
    
    # Concatenate and convert to a list to remove duplicates
    lfl_teams = list(set(list(unique_blue_teams) + list(unique_red_teams)))
    
    return lfl_teams

In [36]:
list_equip_lfl(data)

['Vitality.Bee',
 'LDLC OL',
 'Team MCES',
 'IZI Dream',
 'GameWard',
 'GamersOrigin',
 'Misfits Premier',
 'Solary']

**Expected output :** ```array(['Misfits Premier', 'GameWard', 'Solary', 'Vitality.Bee', 'GamersOrigin', 'LDLC OL', 'Team MCES', 'IZI Dream'], dtype=object)```

### Recurrent value

Well done, it looks like there were 8 teams in the LFL in 2020.

League of Legends is a game where the meta changes regularly,\
every year some champions dominate the game,\
The few games I played, I played the mid role.\
Which champion has been playing the most in mid. \
What is the value that appears the most in the columns: `bluemid` and `redmid` ?

In [37]:
def top_pick_mid(df):
    # Extract the counts of champion picks in blue mid and red mid
    blue_mid_counts = df['bluemid'].value_counts()
    red_mid_counts = df['redmid'].value_counts()
    
    # Combine the counts from both columns and get the champion with the highest count
    combined_counts = blue_mid_counts.add(red_mid_counts, fill_value=0)
    top_mid_champion = combined_counts.idxmax()
    
    return top_mid_champion

In [38]:
top_pick_mid(data)

'Zoe'

**Expected output :** `'Zoe'`

Ah Zoé,\
The famous bubbles that, when they touch you, make you wake up at your fountain.

More seriously, Zoé seems to have been extremely played in the mid.\
But all roles taken together,which are the 5 champions who have been the most played.

To do this look at the 5 roles of both teams to see which value appears the most : \
`bluetop`, `bluejungle`, `bluemid`, `blueadc`, `bluesupport`, `redtop`, `redjungle`, `redmid`, `redadc`, `redsupport`.

Good luck!

In [41]:
# Define a function to return the five most played champions (top, mid, jungle, adc, support)
def ranking_all_pick(df):
    # Extract the relevant columns for each role
    top_picks = pd.concat([df['bluetop'], df['redtop']])
    mid_picks = pd.concat([df['bluemid'], df['redmid']])
    jungle_picks = pd.concat([df['bluejungle'], df['redjungle']])
    adc_picks = pd.concat([df['blueadc'], df['redadc']])
    support_picks = pd.concat([df['bluesupport'], df['redsupport']])
    
    # Combine all the picks into a single Series
    all_picks = pd.concat([top_picks, mid_picks, jungle_picks, adc_picks, support_picks])
    
    # Count the occurrences of each champion and get the top five
    top_five_champions = all_picks.value_counts().head(5)
    
    return top_five_champions

In [40]:
ranking_all_pick(data).head()

Aphelios    2147
Nautilus    2084
Sett        1816
Thresh      1730
Ornn        1700
Name: count, dtype: int64

**Expected output :** 

`Aphelios    2147
 Nautilus    2084
 Sett        1816
 Thresh      1730
 Ornn        1700
 dtype: int64`

### Winrate in LEC

Zoë is finally not even in the top 5 most played champions, maybe she was ban most of the time.\
Aphelios seems to have dominated the summoner's rift.

The LEC is the European league one rank above the LFL, the dream of every European player. \
I wonder which team was able to dominate this league.\
List the different teams in the LEC league and their number of wins.

In [52]:
def display_wins_per_teams(df):
    # Filter the DataFrame to include only LEC league games
    lec_df = df[df['league'] == 'LEC']
    
    # Calculate the number of wins for each team in both blue_team and red_team columns
    wins_per_blue_team = lec_df.groupby('blueteam')['result'].sum()
    wins_per_red_team = lec_df.groupby('redteam')['result'].sum()
    
    # Combine the results for blue_team and red_team into a single Series
    wins_per_teams = wins_per_blue_team.add(wins_per_red_team, fill_value=0)
    
    # Sort the results in descending order
    wins_per_teams = wins_per_teams.sort_values(ascending=False)
    
    return wins_per_teams

In [53]:
display_wins_per_teams(data)

blueteam
G2 Esports               33
MAD Lions                28
Rogue                    25
Fnatic                   22
Origen                   22
Excel Esports            20
SK Gaming                20
Misfits Gaming           19
Team Vitality            19
FC Schalke 04 Esports    18
Name: result, dtype: int64

**Expected output :**

`G2 Esports               48
 Fnatic                   34
 MAD Lions                31
 Rogue                    31
 Origen                   24
 FC Schalke 04 Esports    18
 Misfits Gaming           18
 Excel Esports            15
 SK Gaming                13
 Team Vitality             9
 dtype: int64`

### Counter

What a team: G2!

Aphelios was the most played champion in competition in 2020,\
in my research I noticed that Ezreal was the champion who was the most pick against Aphelios.\
Was this a good decision ?

Calculate the winrate of Aphelios against Ezreal,\
Aphelios and Ezreal are champions that are usually played in the role of adc. \
Just use the `blueadc` and `redadc` columns and ```result``` for this exercise.

In [62]:
def aphelios_vs_ezreal(df):
    # Filter the DataFrame to include only games with Aphelios or Ezreal as ADC
    adc_games = df[(df['blueadc'].isin(['Aphelios', 'Ezreal'])) | (df['redadc'].isin(['Aphelios', 'Ezreal']))]
    
    # Calculate the number of games where Aphelios faced Ezreal
    aphelios_vs_ezreal_games = adc_games[(adc_games['blueadc'] == 'Aphelios') & (adc_games['redadc'] == 'Ezreal') |
                                          (adc_games['blueadc'] == 'Ezreal') & (adc_games['redadc'] == 'Aphelios')]
    
    # Calculate the winrate for Aphelios against Ezreal
    aphelios_wins = aphelios_vs_ezreal_games[(aphelios_vs_ezreal_games['blueadc'] == 'Aphelios') & (aphelios_vs_ezreal_games['result'] == 1) |
                                              (aphelios_vs_ezreal_games['blueadc'] == 'Ezreal') & (aphelios_vs_ezreal_games['result'] == 0)]
    total_games = len(aphelios_vs_ezreal_games)
    
    if total_games == 0:
        return "No games found with Aphelios or Ezreal as ADC against each other."
    
    aphelios_winrate = len(aphelios_wins) / total_games
    
    return aphelios_winrate

In [63]:
aphelios_vs_ezreal(data)

0.528046421663443

**Expected output :** `0.528046421663443`

You have answered all my questions, well done.\
Now you are free to do your analysis.

Why don't you try to see with which support Aphelios has the best winrate for example?

In [85]:
def support_winrates_with_aphelios(df):
    # Filter the DataFrame to include only games where Aphelios is the ADC
    aphelios_adc_games = df[(df['blueadc'] == 'Aphelios') | (df['redadc'] == 'Aphelios')]

    # Group the data by both blue and red supports and calculate the mean winrate
    support_winrates = aphelios_adc_games.groupby(['bluesupport', 'redsupport'])['result'].mean()

    # Convert the MultiIndex to a DataFrame and reset the index
    support_winrates_df = support_winrates.reset_index()

    # Combine blue and red supports into a single 'support' column
    support_winrates_df['support'] = support_winrates_df['bluesupport'].fillna(support_winrates_df['redsupport'])

    # Select only the 'support' and 'result' columns
    support_winrates_df = support_winrates_df[['support', 'result']]

    # Rename the 'result' column to 'winrate'
    support_winrates_df = support_winrates_df.rename(columns={'result': 'winrate'})

    # Group by 'support' and calculate the average winrate
    support_winrates_avg = support_winrates_df.groupby('support')['winrate'].mean().reset_index()

    # Sort the DataFrame by winrate in descending order
    support_winrates_avg = support_winrates_avg.sort_values(by='winrate', ascending=False)

    return support_winrates_avg

result_df = support_winrates_with_aphelios(data)
print(result_df)

         support   winrate
4   Fiddlesticks  1.000000
6         Gragas  1.000000
9          Kayle  1.000000
28          Sion  1.000000
37        Zilean  1.000000
1           Bard  0.712968
0        Alistar  0.697436
20      Pantheon  0.683333
27          Shen  0.666667
35      Volibear  0.666667
17      Nautilus  0.658451
5          Galio  0.625000
12           Lux  0.625000
24        Rumble  0.611111
31     TahmKench  0.595683
11          Lulu  0.584722
32         Taric  0.568889
3          Braum  0.563275
22         Rakan  0.531809
30        Soraka  0.500000
33        Thresh  0.476595
10         Leona  0.470813
2     Blitzcrank  0.468045
25         Senna  0.466667
15       Morgana  0.428571
8          Karma  0.393410
36         Yuumi  0.391534
26          Sett  0.354790
34       Trundle  0.333333
21          Pyke  0.333333
7          Janna  0.250000
13        Maokai  0.194444
18       Orianna  0.000000
16          Nami  0.000000
14    MonkeyKing  0.000000
19          Ornn  0.000000
23      Renekton  0.000000
29          Sona  0.000000
38          Zyra  0.000000

## Well played

You were able to see the basic operation of pandas.\
You now understand one of the basics of data science.

Fortunately I thought about the brave people who would arrive there, a second topic is waiting for you on a dataset detailing the sale of video games in the world.

<img src="./image/win.png"/>